#root {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: red;
  padding: 0px;
}



.grid-container {
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  /* gap: 10px; */
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* background-color: red; */
}

/* Header */
.header {
  /* background-color: ; */
  background-color: #318fdb78;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content:flex-start;
  align-items:center ;
  

}


.img-logo{
   height: 50px;
}


/* ---------------------------------------------- */


/* Body */
.body {
  /* padding: 5px; */
  /* overflow-y: auto; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: green; */
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.content-title{
  /* background-color: red; */
  border-bottom: solid 1px rgb(0, 187, 255) ;
}

.section-tramites{
  margin-top: 0px;
  /* background-color: black; */
  min-height: 100%;
  text-align: center;
  /* padding: 5px; */
}



.seccion-cuit{
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(128, 128, 128, 0.73);
  height: 45px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn-nuevo-tramite{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 7px;
  border: none;
  margin-top: 5px;
  float: left;
}

.p-cuit{
  font-size: 13px;
  /* color: aqua; */
}

.title-web{
    color: black !important;
}


/* ---------------------------------------------- */

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header, .footer {
    font-size: 1.2rem;
    padding: 10px;
  }

  .body {
    font-size: 0.9rem;
    padding: 10px;
  }
}